:root {
  --primary:#FF3864;
  --dark:#920075;
  --background:#e9ecef;
  --lightBlue:#2de2e6;
}

body{
  background-color: var(--primary);
}

.jumbotron{
margin-top: 3%;
margin-bottom: 8%;
text-align: center;
background-color: var(--dark);
}

